<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="test_sics">
    <parameter name="siteUrl" value="https://www.kaspersky.com/"/>
    <parameter name="MyKasperskyTitle" value="My Kaspersky"/>
    <classes>
      <class name="ru.comp.MyKasperskyTest"/>
    </classes>
  </test>  
</suite>